* {
      padding: 0;
      margin: 0 auto;
}

body {
      background-color: #fff;
      align-items: center;
}

.div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40vh;
}

.div1 h1 {
      display: flex;
      justify-content: center;
      color: tomato;
      font-size: 46px;
}

.div2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 700px;
      margin-top: -30vh;
}

.div2 button{ 
      width: 150px;
      height: 35px;
      border-radius: 15px;
      font-size: 19px;
      cursor: pointer;
      transition: ease-in-out 0.3s;
}
.div2 button:hover {
      transition: 0.80s;
      background-color: dimgrey;
      font-size: 22px;
} 






